<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_add_product_complete">
        <observer name="add_donation_to_quote" instance="Shoyab\Donation\Observer\Donation" />
    </event>

    <event name="checkout_onepage_controller_success_action">
        <observer name="after_order_success" instance="Shoyab\Donation\Observer\AfterOrderSuccessObserver" />
    </event>
</config>
