<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="softwareengineer" translate="label" sortOrder="10">
            <label>Shoyab</label>
        </tab>
        <section id="donation" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Donation</label>
            <tab>softwareengineer</tab>
            <resource>Shoyab_Donation::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="image" type="image" translate="label" sortOrder="5" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">settings</upload_dir>
                    <base_url type="media" scope_info="1">settings</base_url>
                    <comment>Image for donation (Allow: jpeg, jpg, gif, png)</comment>
                </field>
                <field id="title" type="text" translate="label" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Title</label>
                    <depends><field id="enable">1</field></depends>
                </field>
                <field id="description" type="editor" translate="label" sortOrder="25" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Description</label>
                    <frontend_model>Shoyab\Donation\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="amount_option" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Amount Options</label>
                    <frontend_model>Shoyab\Donation\Block\Adminhtml\System\Config\Form\Field\GroupConfigRenderer</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
